{% extends "base.html" %}

{% block content %}
<div class="container overflow-hidden text-center">
    <div class="row gy-5">
        <h2 class="display-1">Погода</h2>
        {% if current_user.is_authenticated %}
        <form action="/get-text" method="post">
            <div class="input-group">
                <input type="text" class="form-control" name="name_city" placeholder="Введите название города"
                       aria-label="Ввод текста с помощью кнопки сегментированного раскрывающегося списка">
                <button type="submit" class="btn btn-outline-light">Найти</button>
            </div>
        </form>
        {% else %}
        <h2 class="display-6"> Для получения сведений о погоде пройдите авторизацию или зарегистрируйтесь на сайте.</h2>
    </div>
</div>
{% endif %}
{% endblock %}